
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <body style="background: teal;">
        <br/> <br/> <br/>
        <span class="login100-form-logo">
            <img class="zmdi zmdi-landscape" src="./assets/logo.png" style="height: 15rem;">
        </span>
        <div class="container mt-5" style="background-color: teal;">
            <div class="wrapper">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-10 col-lg-10">
                        <div class="wrap" id="q1">
                            <div class="text-center ">
                            
                                <div>
                                    <div *ngIf="loading" class="lds-dual-ring"></div>
                                    <div *ngIf="!loading">
                                        <table class="table table" *ngIf="(exams | json) != '{}'">
                                            <thead>
                                              <tr>
                                                <th scope="col">Name Of Test</th>
                                                <th scope="col">Number of Questions</th>
                                                <th scope="col">Action</th>
                                          
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let e of exams">
                                             
                                                <td>{{e.title}}  </td>
                                                <td>{{e.questions.length}}</td>
                                                <td> <button type="button" class="btn btn-secondary" style="background-color:teal; border-radius:20px" (click)="startExam(e.id)">  Start </button></td>
                                              </tr>
                                           
                                            </tbody>
                                          </table>
                                          <a class="btn btn"  [routerLink]="['/']"> Back to Home <span class="fas fa-arrow-right"></span></a>
                                           
                                  <h1 *ngIf="(exams | json) == '{}'">There is no Exam Yet!</h1>
                                    </div>
                               
                            </div>
                          
                           
                            <div class="pt-4">
                               
                            </div>
                            <div class="d-flex justify-content-end pt-2">  </div>
                        </div>
                    </div>
                </div>
            </div>
        <br/> <br/>
        </div>
        </div>
      
    </body>
</html>
